//output:../client/index.html
doctype html
html(lang="en")

  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    meta(name='HandheldFriendly', content='true')
    
    title Price x 4
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js')
    script(src='js/app.js')
  body(ng-app="pricex4")
    .container(ng-controller="BaseController")
        button(ng-click="getRandom()") Randomize
        div(style="width:49%; float:left;")
            ul
                li {{guess.title}}
                li {{guess.by}}
                li {{guess.group}}
                li {{guess.price/100|currency}} (US)
                li #[a(href="{{guess.url}}") #[img(src="{{guess.large}}")]]
        div(style="width:49%; float:right;")
            div(ng-repeat="obj in data")
                div(ng-repeat="item in obj.items")
                    ul
                        li {{item.title}}
                        li {{item.by}}
                        li {{item.group}}
                        li {{item.price/100|currency}} (US)
                        li #[a(href="{{item.url}}") #[img(src="{{item.large}}")]]
    
